@using AngleSharp.Io
@{
    var apiUrl = "https://localhost:5897/";
}

<div class="alert alert-warning">
</div>

<button type="button" data-host="@apiUrl" data-uri="api/values" data-http-method="@HttpMethod.Get" class="btn api-button btn-primary mb-2">GET api/values</button>
<button type="button" data-host="@apiUrl" data-uri="api/values/1" data-http-method="@HttpMethod.Get" class="btn api-button btn-primary mb-2">GET api/values/1</button>
<button type="button" data-host="@apiUrl" data-uri="api/values/3" data-http-method="@HttpMethod.Put" class="btn api-button btn-primary mb-2">PUT api/values/3</button>
<button type="button" data-host="@apiUrl" data-uri="api/values/GetValues2" data-http-method="@HttpMethod.Get" class="btn api-button btn-primary mb-2">GET api/values/GetValues2</button>

<div class="alert alert-info">
    <span id="result"></span>
</div>

<script src="js/site.js" nws-csp-add-nonce="true"></script>